// font-face
@mixin font-face($name, $path, $weight: null, $style: null, $exts: otf ttf) {
  $src: null;
  $formats: (
          otf: 'opentype',
          ttf: 'truetype',
  );
  @each $ext in $exts {
    $format: map-get($formats, $ext);
    $src: append($src, url(quote($path)) format(quote($format)), comma);
  }
  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}

// color
$main: #F470A4;
$sub: #FDE2ED;
$gray: #AAAAAA;
$border: #DDDDDD;
$checkBorder: #99A4BC;
$buttonGray1: #F8F8F8;
$buttonGray2: #F0F0F0;
$buttonGray3: #E9EAEE;
$buttonGray4: #E8E8E8;
$buttonGray5: #D9D9D9;

// font-size
$basic: min(max(12px, calc(0.75rem + ((1vw - 16px) * 0.625))), 14px); // 14px
$size1: min(max(10px, calc(0.625rem + ((1vw - 16px) * 0.625))), 12px); // 12px
$size2: min(max(13px, calc(0.8125rem + ((1vw - 16px) * 0.9375))), 16px); // 16px
$size3: min(max(15px, calc(0.9375rem + ((1vw - 16px) * 0.9375))), 18px); // 18px
$size4: min(max(16px, calc(1rem + ((1vw - 16px) * 1.25))), 20px); // 20px
$size5: min(max(18px, calc(1.125rem + ((1vw - 16px) * 1.875))), 24px); // 24px
$title: min(max(28px, calc(1.75rem + ((1vw - 16px) * 3.75))), 40px); // 40px

// border-radius
$radius: 20px;

// font-family
@include font-face("PretendardReqular", "../assets/fonts/Pretendard-Regular.otf", null, null, otf);
@include font-face("PretendardBold", "../assets/fonts/Pretendard-Bold.otf", null, null, otf);
$regular: "PretendardReqular";
$bold: "PretendardBold";

// mixin
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flexColumn {
  display: flex;
  flex-direction: column;
}

@mixin flexJustifyBetween {
  display: flex;
  justify-content: space-between;
}

@mixin flexAlignCenter {
  display: flex;
  align-items: center;
}

@mixin flexBaseline {
  display: flex;
  align-items: baseline;
}

@mixin center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}