@import "root";

.authContainer {
  width: 100%;
  height: 100vh;
  @include flexCenter;
  flex-direction: column;
  // SignIn
  .logo {
    @include flexCenter;
    margin-bottom: 30px;
    .logoImg {
      width: 80px;
    }
    .logoTxt {
      text-transform: uppercase;
      margin-left: 20px;
      font-family: $bold;
      p {
        line-height: normal;
        &:nth-child(1) {
          font-size: $size4;
        }
        &:nth-child(2) {
          font-size: $title;
        }
      }
    }
  }
  .loginForm {
    @include flexColumn;
    width: 300px;
    input {
      margin-bottom: 10px;
    }
    .signInUp {
      @include flexJustifyBetween;
      align-items: center;
      width: 100%;
      .signUp {
        text-align: right;
        p {
          color: #555555;
        }
        button {
          font-family: $bold;
          text-decoration: underline;
          margin-top: 5px;
          height: auto;
        }
      }
      .signIn {
        width: 130px;
        height: 50px;
        background-color: $sub;
        color: $main;
        font-family: $bold;
        border-radius: $radius;
        @include flexCenter;
        &::after {
          content: url("../assets/images/enter.svg");
          display: block;
          margin-left: 5px;
          line-height: 0;
        }
      }
    }
  }

  // SignUp
  .signUpForm {
    width: 340px;
    margin-top: 100px;
    .nondisclosureYn {
      margin-top: 20px;
      padding-top: 20px;
      border-top: 1px solid $border;
      .question {
        @include flexJustifyBetween;
        font-size: $size2;
      }
      .description {
        color: #888888;
        font-size: $size1;
      }
    }
  }
  .signUpBtn {
    width: 100%;
    @include flexJustifyBetween;
    margin-top: 50px;
    button {
      border-radius: $radius;
      @include flexCenter;
    }
    .back {
      width: 90px;
      height: 50px;
      background-color: $buttonGray2;
      img {
        height: 15px;
      }
    }
    .signUp {
      width: calc(100% - 90px - 10px);
      height: 50px;
      background-color: $sub;
      color: $main;
      font-family: $bold;
      img {
        height: 12px;
        margin-left: 5px;
      }
    }
  }
}