@import "root";

.calendar {
  flex: 1;
  width: 100%;
  height: calc(100vh - 89px - 40px - 130px - 100px);
  .calendarHeader {
    @include flexAlignCenter;
    p {
      font: {
        family: $bold;
        size: $size5;
      }
    }
    .chngMonth {
      margin-left: 30px;
      button:first-child {
        margin-right: 30px;
      }
    }
  }
  .calendarWeek,
  .calendarDays {
    width: 100%;
    @include flexAlignCenter;
  }
  .calendarWeek {
    padding: {
      top: min(calc((100% / 7) / 2 - 12px), 40px);
      bottom: min(calc((100% / 7) / 2 - 12px), 40px);
    }
    .week {
      width: calc(100% / 7);
      text-align: center;
      font: {
        family: $bold;
        size: $size4;
      }
    }
  }
  .calendarDays {
    @include flexColumn;
    .day {
      @include flexAlignCenter;
      width: 100%;
      p {
        width: calc(100% / 7);
      }
      .current {
        text-align: center;
        font-size: $size4;
        padding: {
          top: min(calc((100% / 7) / 2 - 12px), 40px);
          bottom: min(calc((100% / 7) / 2 - 12px), 40px);
        }
        cursor: pointer;
        &.today {
          position: relative;
          color: #FFFFFF;
          &::after {
            content: '';
            width: 80%;
            height: 80%;
            display: block;
            background-color: $main;
            border-radius: 50%;
            @include center;
            z-index: -1;
          }
        }
      }
    }
  }
}