@font-face {
  font-family: "PretendardReqular";
  src: url("../assets/fonts/Pretendard-Regular.otf") format("opentype");
}
@font-face {
  font-family: "PretendardBold";
  src: url("../assets/fonts/Pretendard-Bold.otf") format("opentype");
}
.mainContainer {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}
.mainContainer .bgLayout {
  width: 60%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  background-color: #f8f8f8;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.mainContainer .mainWrap {
  width: 100%;
  height: max(100vh - 10.8333333333%, 100vh - 90px);
  display: flex;
}
.mainContainer .mainWrap .calendarContainer {
  width: 40%;
  height: 100%;
  padding: min(2.6041666667%, 40px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mainContainer .mainWrap .calendarContainer .monthRecord {
  display: flex;
  justify-content: space-between;
}
.mainContainer .mainWrap .calendarContainer .monthRecord .record {
  width: calc((100% - 40px) / 3);
  border: 1px solid #E8E8E8;
  border-radius: 30px;
  padding: max(1.0416666667%, 12px);
  display: flex;
  align-items: center;
  background-color: #F8F8F8;
}
.mainContainer .mainWrap .calendarContainer .monthRecord .icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
}
.mainContainer .mainWrap .calendarContainer .monthRecord .icon.commentIcon > img {
  height: 20px;
}
.mainContainer .mainWrap .calendarContainer .monthRecord .recordText {
  margin-left: 20px;
}
.mainContainer .mainWrap .calendarContainer .monthRecord .recordText .count {
  font-family: "PretendardBold";
  font-size: min(max(15px, 0.9375rem + (1vw - 16px) * 0.9375), 18px);
}
.mainContainer .mainWrap .todoContainer {
  width: 60%;
  padding: min(2.6041666667%, 40px);
  display: flex;
  flex-direction: column;
}
.mainContainer .mainWrap .todoContainer .userProfile {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mainContainer .mainWrap .todoContainer .userProfile .userInfo {
  display: flex;
  align-items: center;
}
.mainContainer .mainWrap .todoContainer .userProfile .userInfo p {
  font-family: "PretendardBold";
  font-size: min(max(28px, 1.75rem + (1vw - 16px) * 3.75), 40px);
}
.mainContainer .mainWrap .todoContainer .userProfile .userInfo .nickname {
  position: relative;
  margin-left: 20px;
  margin-right: 10px;
}
.mainContainer .mainWrap .todoContainer .userProfile .userInfo .nickname::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 15px;
  background-color: #FDE2ED;
  display: inline-block;
  z-index: -1;
}
.mainContainer .mainWrap .todoContainer .userProfile .userInfo .request {
  color: #FFFFFF;
  background-color: #F470A4;
  border-radius: 16px;
  height: 40px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: min(max(13px, 0.8125rem + (1vw - 16px) * 0.9375), 16px);
  margin-left: 20px;
}
.mainContainer .mainWrap .todoContainer .userProfile .userSetting button {
  display: flex;
  align-items: center;
  color: #555555;
  font-size: min(max(13px, 0.8125rem + (1vw - 16px) * 0.9375), 16px);
}
.mainContainer .mainWrap .todoContainer .userProfile .userSetting button img {
  margin-left: 5px;
  margin-bottom: 2px;
  height: min(max(13px, 0.8125rem + (1vw - 16px) * 0.9375), 16px);
}
.mainContainer .mainWrap .todoContainer .userProfile .delete img {
  height: min(max(13px, 0.8125rem + (1vw - 16px) * 0.9375), 16px);
}
.mainContainer .mainWrap .todoContainer .todoWrap {
  margin-top: 50px;
  width: 100%;
  flex: 1;
  overflow: auto;
}
.mainContainer .mainWrap .todoContainer .todoWrap .todoList {
  margin-top: 20px;
  width: 100%;
}
.mainContainer .mainWrap .todoContainer .todoWrap .todoList:first-child {
  margin-top: 0;
}
.mainContainer .mainWrap .todoContainer .todoWrap .todoList .category {
  margin-bottom: 15px;
  font-size: min(max(18px, 1.125rem + (1vw - 16px) * 1.875), 24px);
  font-family: "PretendardBold";
  margin-left: 20px;
  display: flex;
  align-items: center;
}
.mainContainer .mainWrap .todoContainer .todoWrap .todoList .category img {
  margin-right: 10px;
}
.mainContainer .mainWrap .todoContainer .todoWrap .todoList .todo {
  width: 100%;
  background-color: #FFFFFF;
  padding: max(1.0416666667%, 15px);
  border-radius: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.mainContainer .mainWrap .todoContainer .todoWrap .todoList .todo:last-child {
  margin-bottom: 0;
}
.mainContainer .mainWrap .todoContainer .todoWrap .todoList .todo p {
  margin-left: 10px;
  margin-right: 10px;
  width: calc(100% - 24px - 21px - 12px - 40px);
  font-size: min(max(15px, 0.9375rem + (1vw - 16px) * 0.9375), 18px);
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.mainContainer .mainWrap .todoContainer .todoWrap .todoList .todo input[type=checkbox]:checked ~ p {
  color: #AAAAAA;
}
.mainContainer .mainWrap .todoContainer .todoWrap .todoList .todo .comment {
  margin-right: 20px;
  height: 20px;
}
.mainContainer .mainWrap .todoContainer .todoWrap .todoList .todo .move {
  cursor: grab;
}
.mainContainer .mainWrap .todoContainer .todoWrap .todoList .todo .move:active {
  cursor: grabbing;
}
.mainContainer .mainWrap .todoContainer .todoWrap.friendTodo .todo p {
  width: calc(100% - 24px - 40px);
}
.mainContainer .mainWrap .todoContainer .todoWrap.friendTodo .todo .comment {
  margin-right: 0 !important;
}
.mainContainer .mainWrap .todoContainer .friendListWrap {
  margin-top: 50px;
}
.mainContainer .mainWrap .todoContainer .friendListWrap .friendListTitle {
  font-family: "PretendardBold";
  font-size: min(max(15px, 0.9375rem + (1vw - 16px) * 0.9375), 18px);
  margin-bottom: 10px;
}
.mainContainer .mainWrap .todoContainer .friendListWrap .friendList {
  display: flex;
  align-items: center;
}
.mainContainer .mainWrap .todoContainer .friendListWrap .friendList .friend {
  width: 50px;
  display: flex;
  flex-direction: column;
  margin-right: 15px;
  cursor: pointer;
}
.mainContainer .mainWrap .todoContainer .friendListWrap .friendList .friend img {
  height: 50px;
  border-radius: 15px;
}
.mainContainer .mainWrap .todoContainer .friendListWrap .friendList .friend p {
  text-align: center;
  margin-top: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.mainContainer .mainWrap .todoContainer .friendListWrap .friendList .friend:last-child {
  margin-right: 0;
}

/*# sourceMappingURL=main.css.map */
