@import "root";

.searchContainer {
  width: 100%;
  background-color: transparent;
  height: calc(100vh - 130px);
  .searchWrap {
    width: 100%;
    height: 100%;
    padding: 40px;
    overflow: auto;
    .searchResult {
      font-size: $size5;
      color: #888888;
      span {
        color: #000000;
        font-family: $bold;
        text-decoration: underline;
        margin-right: 5px;
      }
    }
    .searchList {
      display: flex;
      flex-wrap: wrap;
      margin-top: 50px;
      .list {
        width: calc((100% - (30px * 5)) / 6);
        border-radius: 30px;
        background-color: #FFFFFF;
        box-shadow: 0 2px 8px 0 rgba(0 0 0 / 20%);
        padding: 50px;
        @include flexCenter;
        flex-direction: column;
        cursor: pointer;
        margin: {
          right: 30px;
          top: 30px;
        }
        &:nth-child(6n) {
          margin-right: 0;
        }
        &:nth-child(-n+6) {
          margin-top: 0;
        }
        img {
          width: 150px;
        }
        .nickname {
          font: {
            family: $bold;
            size: $title;
          }
          margin-top: 10px;
        }
        .account {
          margin-top: 20px;
          @include flexAlignCenter;
          p {
            margin-right: 10px;
          }
          img {
            width: 20px;
          }
        }
      }
    }
  }
}